<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title> Cadastro de Eventos </title>
    <!--<link rel="stylesheet" type="text/css" href="css/cadastro-de-eventos.css"> -->
    <link rel="stylesheet" href="/css/CadastroEvento.css">
</head>
<body>
    <div class="container">
        <div class="title"> Cadastro de Ações Sociais </div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Nome completo</span>
                    <input type="text" placeholder="Coloque seu nome completo" required>
                </div>

                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Coloque seu email" required>
                </div>

                <div class="input-box">
                    <span class="details">Telefone</span>
                    <input type="text" placeholder="Coloque seu numero de telefone Ex... (11)22224444" required>
                </div>

                <div class="input-box">
                    <span class="details">Endereço do Evento</span>
                    <input type="text" placeholder="Coloque o endereço do evento" required>
                </div>

                <div class="input-box">
                    <span class="details">CEP</span>
                    <input type="text" placeholder="Informe o CEP do endereço" required>
                </div>

                <div class="input-box">
                    <span class="details">Data do Evento</span>
                    <input type="text" placeholder="Informe a cada do evento" required>
                </div>

                <div class="input-box">
                    <span class="details">Número de pessoas</span>
                    <input type="text" placeholder="Informe o número máximo de pessoas" required>
                </div>

                <div class="input-box">
                    <span class="details">Classificação de Evento</span>
                    <input type="text" placeholder="Classifique o evento" required>
                </div>
            </div>
           <!-- <div class="gender-details">
                <input type="radio" name="gender" id="dot-1">
                <input type="radio" name="gender" id="dot-2">
                <input type="radio" name="gender" id="dot-3">
                <span class="gender-title">Gender</span>
                <div class="category">
                    <label for="dot-1">
                        <span class="dot one"></span>
                        <span class="gender">Male</span>
                    </label>

                    <label for="dot-2">
                        <span class="dot two"></span>
                        <span class="gender">Female</span>
                    </label>

                    <label for="dot-3">
                        <span class="dot three"></span>
                        <span class="gender">Prefer not to say</span>
                    </label>
                </div>
            </div> -->
            <div class="button">
                <input type="submit" value="Register">
            </div>
        </form>
        
    </div>
</body>
</html>